<h3>
    Please provide following data for new items to be added
</h3>
<form class="form-group">
    <table class="table mx-5">
        <tr>
            <td>
                <label for="item_id">Food Item Id</label>
            </td>
            <td>
                <input class="form-control" type="text">
            </td>
        </tr>
        <tr>
            <td>
                <label for="dish_name">Dish Name</label>
            </td>
            <td>
                <input class="form-control" type="text">
            </td>
        </tr>
        <tr>
            <td>
                <label for="dish_url">Dish Image Url</label>
            </td>
            <td>
                <input class="form-control" type="text">
            </td>
        </tr>
        <tr>
            <td>
                <label for="dish_price">Price of Dish</label>
            </td>
            <td>
                <input class="form-control" type="text">
            </td>
        </tr>
        <tr>
            <td>
                <label for="category">Dish Category(veg/Non-veg)</label>
            </td>
            <td>
                <input class="form-control" type="text">
            </td>
        </tr>

    </table>
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-12 col-md-6">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>

    </div>
    
</form>